<div class="row employeeCard mx-auto">
    <div class="employee internCard card-body">
        <div class="card mx-auto" style="max-width: 320px;">
            <div class="card-header " style="background-color:blue" >
                <h3>Engineer</h3>
            </div>
            <div class="card-body">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQqIcXXUDGxcVSJk1WA-kGucAugmm5TkDXxyz82VepVYtG-Eae6" alt="" style="width: 100%;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name:  Peter Parker</li>
                    <li class="list-group-item"><i class="fa fa-envelope-o" aria-hidden="true"></i> PeterParker13@yahoo.com</li>
                    <li class="list-group-item"><i class="fa fa-github" aria-hidden="true"></i> <a href="">Peter Parker</a>
                    </li>
                    <li class="list-group-item"><i class="fa fa-phone-square" aria-hidden="true"></i> 5531512131</li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>