<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Generator</title>
    <script src="https://use.fontawesome.com/4b53ea2f0f.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .jumbotron{
            background-image: url(assets/16267218.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: -223px;
        }
    </style>
    <!-- <img src="" alt=""> -->
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4">My Team</h1>
            <p class="lead">this is my team</p>
        </div>
    </div>
        <div class="container row managerSection mx-auto">
        <div class="card mx-auto">
            <div class="card-header" style="background-color: red;">
                <h4>Team Members</h4>
            </div>
            <div class="card-body col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://avatars0.githubusercontent.com/u/61437470?s=460&u=182d09224144f34382420eb52d1fbb11c0a57804&v=4" class="card-img mx-auto" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">Manager</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Name: Jairo Martinez</li>
                            <li class="list-group-item"><i class="fa fa-envelope-o" aria-hidden="true"></i> jairo.martinez13@yahoo.com</li>
                            <li class="list-group-item"><i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/jairomartinez1994">Jairo Martinez</a>
                            </li>
                            <li class="list-group-item"><i class="fa fa-phone-square" aria-hidden="true"></i> 9085310512</li>
                            <li class="list-group-item">Employee Id no: jm1994</li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <hr>
            <div class="row employeeCard mx-auto">
                <div class="row employeeCard mx-auto">
    <div class="employee engineerCard card-body">
        <div class="card mx-auto" style="max-width: 320px;">
            <div class="card-header" style="background-color: blue;">
                <h3>Engineer</h3>
            </div>
            <div class="card-body">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQqIcXXUDGxcVSJk1WA-kGucAugmm5TkDXxyz82VepVYtG-Eae6" alt="" style="width: 100%;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name: Peter Parker</li>
                    <li class="list-group-item"><i class="fa fa-envelope-o" aria-hidden="true"></i> PeterParker13@yahoo.com</li>
                    <li class="list-group-item"><i class="fa fa-github" aria-hidden="true"></i>  <a href="">Peter Parker</a></li>
                    <li class="list-group-item">Employee Id no: PP1962</li>
                </ul>
            </div>
        </div>
    </div>
</div>           

<div class="row employeeCard mx-auto">
                <div class="employee internCard card-body">
                    <div class="card mx-auto" style="max-width: 320px;">
                        <div class="card-header " style="background-color: purple;" >
                            <h3>Intern</h3>
                        </div>
                        <div class="card-body">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQqIcXXUDGxcVSJk1WA-kGucAugmm5TkDXxyz82VepVYtG-Eae6" alt="" style="width: 100%;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Name: Mike </li>
                                <li class="list-group-item"><i class="fa fa-envelope-o" aria-hidden="true"></i> mike@gmail.com</li>
                                <li class="list-group-item"><i class="fa fa-graduation-cap" aria-hidden="true"></i>School Name: NYU</li>
                                <li class="list-group-item">Employee Id no: MW2019</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
<div class="row employeeCard mx-auto">
    <div class="employee engineerCard card-body">
        <div class="card mx-auto" style="max-width: 320px;">
            <div class="card-header" style="background-color: blue;">
                <h3>Engineer</h3>
            </div>
            <div class="card-body">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQqIcXXUDGxcVSJk1WA-kGucAugmm5TkDXxyz82VepVYtG-Eae6" alt="" style="width: 100%;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name: John Price</li>
                    <li class="list-group-item"><i class="fa fa-envelope-o" aria-hidden="true"></i> John</li>
                    <li class="list-group-item"><i class="fa fa-github" aria-hidden="true"></i>  <a href="">John</a></li>
                    <li class="list-group-item">Employee Id no: JP2007</li>
                </ul>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>